
div#responsive-navbar-nav\ nav-collapse {
	background: url("/src/assests/Images/header_bg.png") #8b6a35 ;
	padding: 15px;
	z-index: 10;
	margin-left: -25px;
	margin-right: -25px;
	background-repeat: revert;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: black;
	text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
	/* color: #fff; */
	color: black;
}
.navbar-dark .navbar-toggler-icon {

	background-color: #8b6a35;
	border-radius: 5px;

}
@media (max-width: 375px) {
	.mobile-menu {
		
		visibility: visible;
	}
	.nav-logo {
		max-width: 150px;
		margin-left: -20px;
	}
	.nav-collapse {
		margin-bottom: 0px;
		color: #8b6a35;
	}
}

@media (max-width: 414px) {
	.mobile-menu {
		/* margin-left: 25px; 
		margin-left:  30px; */
		
		
	}
	.nav-logo {
		max-width: 145px;
		margin-left: -20px;
	}
}

@media (max-width: 991px) {
	.mobile-menu {
		/* visibility: hidden; */
		display: block;
	}
}