.aboutus-body {
	/* color: red; */
	background: url(/src/assests/Images/footerbg.png);
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: -8px;
	margin-left: -24px;
}
.s {
	color: red;
}

.abh {
	color: black;
	background-color: #faf5ea;
}
@media (max-width: 375px) {
	.abh {
		margin-left: 0px;
		width: 103%;
		margin-top: -160px;
	}
	.about-footer {
		margin-left: 45px;
		margin-right: -45px;
	}
}
