.bird-subtitle1 {
	
	font-size: 16px;
	color: #7bc236;
	font-weight: bold;
	margin-left: -35px;
}
.birdwelcome-body {
	color: #635e54;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;

	margin-top: -40px;
}

.resortbird-watching {
	padding-top: 31px;
	max-width: 100%;
	margin-left: -40px;

	
}
.birdResortactivity-body {
	color: #635e54;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	margin-left: -37px;
	padding-top: 20px;
}
.birdactivity-list1 {
	font-weight: normal;
	margin-left: -55px;
}

.birdrest-subheading {
	margin-left: -35px;

    font-family: Arial, Helvetica, sans-serif;

}

.resortbird-cycling {
	padding-left: -9px;
	margin-left: -40px;
}
.resortbird-subtitle2 {
	margin-left: -40px;
	color: #635e54;
	font-weight: bold;
	font-size: 13px;
	padding-top: 15px;
}
