.acco-img {
	padding-top: 40px;
}

.ach {
	color: black;
	background-color: #faf5ea;
}
@media(max-width:375px){
  
    .ach{
		margin-left: 0px;
		width: 103%;
		margin-top: -160px;
      }

	  .acc-footer{
		margin-left: 45px;
		margin-right: -45px;
	}
  
  }