.footer-body {
	/* color: red; */
	background: url(/src/assests/Images/footerbg.png) repeat-x #323232;
}
.partners {
	background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABVAAD/7gAmQWRvYmUAZMAAAAABAwAVBAMGCg0AAAGrAAABzAAAAgQAAAIv/9sAhAACAQEBAQECAQECAwIBAgMDAgICAgMDAwMDAwMDBQMEBAQEAwUFBQYGBgUFBwcICAcHCgoKCgoMDAwMDAwMDAwMAQICAgQDBAcFBQcKCAcICgwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wgARCAAvAAEDAREAAhEBAxEB/8QAfgABAQEAAAAAAAAAAAAAAAAABQQIAQEAAAAAAAAAAAAAAAAAAAAAEAEBAQEBAAAAAAAAAAAAAAAAEyARAhEBAAAAAAAAAAAAAAAAAAAAIBIBAAAAAAAAAAAAAAAAAAAAIBMAAQQBBQAAAAAAAAAAAAAAACABEWHwUXGRsfH/2gAMAwEAAhEDEQAAAd8B4WEBRAf/2gAIAQEAAQUCoqsss76f/9oACAECAAEFAtf/2gAIAQMAAQUC1//aAAgBAgIGPwJf/9oACAEDAgY/Al//2gAIAQEBBj8CX//aAAgBAQMBPyGBAkR1JFbn/9oACAECAwE/IVf/2gAIAQMDAT8hV//aAAwDAQACEQMRAAAQgAA//9oACAEBAwE/ELC4s7MDMbPLnlOf/9oACAECAwE/EFf/2gAIAQMDAT8QV//Z)
		repeat-x;
	/* margin-left: 10px; */
	/* margin-top: 20px; */
	
	
	padding-left: 5px;
	list-style: none;
	/* display: inline-block; */
	padding: 3px 12px;
	list-style: none;
	/* display: inline-block; */
	/* padding: 7px 12px; */
}

.partner-list {
	padding-bottom: 20px;
}
.parentImage {
}
.footer-subhedding {
	color: #e4984e;
	font-size: 18px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 10px;
}
.footerinfo {
	display: block;
	color: aliceblue;

	font-size: 12px;
}

.second-footer {
	background: #000;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	text-align: center;
	font-weight: 600;

	color: #b1a079;
	font-size: 9px;
	line-height: 14px;
	text-decoration: none;

	padding-top: 12px;
	margin-top: 30px;
}
.copyright {
	text-align: center;
	font-size: 9px;
	/* padding-left: 240px; */
	font-weight: normal;
}

.footer-link2 {
	font-weight: 600;

	color: #b1a079;
	font-size: 10px;
	line-height: 14px;
	text-decoration: none;
}

.footer-link2:hover {
	color: white;
}

@media (max-width: 375px) {
	.footer-body {
		margin-left: -45px;
		margin-right: 35px;
	}
	.second-footer {
		visibility: hidden;
	}
	.footer-body {
		height: 800px;
	}

	.partners {
		background: url(/src/assests/Images/partners_bg.jpeg) repeat;
	}
	.parentImage {
		margin-top: 15px;
		width: 50px;
	}
}

/* @media  (min-width: 768px){

	.partners {
		background: url(/src/assests/Images/partners_bg.jpeg) repeat;
		line-height: 20px;
		
	}

   
} */
