.navigation-bar {
	background: url("/src/assests/Images/header_bg.png");
	/* margin-top: 20px; */
	padding-top: 1px;
	padding-bottom: 0.3125rem;

	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
	padding-top: 13px;
	height: 100px;
	max-width: 100%;
}

.nav-logo {
	width: 235px;
}
.navlink-menu {
	color: #875a29;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 100px;
	padding-top: 50px;
	font-weight: bold;
}
/* .facebook-icon{
    padding-bottom: 20px;
} */
.secondNav {
	padding-top: 60px;
	padding-right: 20px;
}
.nav-menu :hover {
	color: black;
}
@media (max-width: 375px) {
	.nav-logo {
		max-width: 200px;
	}
	.navigation-bar {
		visibility: hidden;
	}
}
@media (max-width: 667px) {
	.navigation-bar {
		visibility: hidden;
	}
}

@media (max-width: 820px) {
	.navigation-bar {
		max-width: 704px;
	
	}
}
@media (max-width: 768px) {
	.navigation-bar {
		max-width: 704px;
		
	}
}

@media (max-width: 414px) {
	.nav-logo {
		max-width: 200px;
	}
}

@media (max-width: 360px) {
	.nav-logo {
		max-width: 150px;
	}
}
@media (max-width: 280px) {
	.nav-logo {
		max-width: 100px;
	}
}
